.header {
    text-align: center;
    margin: auto;
    margin-top: 100px;
}


.header__item--secondHeading {
    color: rgba(0, 0, 0, 0.606);
}

.header__item--time {
    color: rgba(0, 0, 0, 0.606);
    font-size: small;
    font-weight: 800;
    font-stretch: expanded;
}